* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100% !important;

}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;

}

.container {
    display: flex;
}

header .container {
    align-items: center;
    justify-content: space-between;

    height: 150px;
    margin: 0 7rem;
    width: 80%;
}

.logo {
    margin-left: 3rem;
}

.nav {
    display: flex;
    justify-content: space-between;

    width: 46%;
}

.link {
    text-decoration: none;
    font-weight: 400;
    color: #000;
    font-size: 16px;
}

.link:hover {
    border-bottom: 1px solid #555;
}

.active {
    font-weight: 600;
}

.banner {
    margin-bottom: 8rem;
}

.banner .container {
    align-items: center;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-banner {
    width: 50vw;
}

.container h2 {
    font-size: 64px;
    font-weight: 700;
    color: #1A1A1A;
    width: 80%;
    margin-bottom: 2rem;
}

.container p {
    font-weight: 400;
    font-size: 36px;
    width: 67%;
    margin-bottom: 2rem;
    color: #595959;
}

.button {
    border: 1px solid #000;
    font-size: 24px;
    width: 307px;
    text-align: center;
    padding: 1rem 2rem;
    text-decoration: none;
    color: #0074FF;
    font-weight: 600;
    cursor: pointer;
    background-color: #fff;
}

.button:hover {
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.address {
    margin-top: 5rem;
    position: relative;
}

.address .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.address .container h2 {
    font-size: 48px;
}

.address .container p {
    width: 63vw;
    margin-bottom: 3rem;
}

#address-box {
    width: 975px;
    height: 500px;
    background-color: #E2E0E0;
    margin-top: 3rem;
    position: relative;
    box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
}

.mapouter {
    height: 500px;
    width: 975px;
}

.gmap_canvas, #gmap_canvas{
    width: 975px;
    height: 500px;
}

#elipse {
    position: absolute;
    top: -45px;
}

#vetor {
    margin: 3rem 0 5rem 0;
}

.services .container {
    flex-direction: column;
    align-items: center;

    margin-top: 6rem;
    position: relative;
    margin-bottom: 6rem;
}

.services-elipse {
    position: absolute;
    left: 1400px;
    top: -60px;
}

.services .container h2 {
    text-align: center;
    font-size: 48px;
}

.services .container p {
    text-align: center;
    width: 63vw;
    margin-bottom: 4rem;
}

.services-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.service-item {
    width: 309px;
    height: 448px;
    display: flex;
    flex-direction: column;
    background-color: #0074FF;
    color: #fff;
    position: relative;
}

.service-item_title {
    font-size: 36px;
    margin: 6rem 0 5rem 2.5rem;
}

.container .service-item p {
    font-size: 18px !important;
    width: 280px !important;
    color: #fff;
    text-align: left;
    margin: 0 auto;
}

.service-item_img {
    width: 154px;
    height: 176px;
    position: absolute;
    left: 20px;
}

.segment .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.segment .container h2{
    font-size: 48px;
    margin-top: 6rem;
}

.segment .container p {
    width: 56vw;
    text-align: center;
}

.segment-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 200px;
    margin-bottom: 5rem;
    width: 90vw;
}

.segment-list_item {
    width: 400px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
    position: relative;
    margin-top: 3rem;
}

.segment-list_item h3 {
    font-weight: 600;
    font-size: 24px;
    text-align: initial;
    width: auto;
    align-self: center;
}

.container .segment-list_item p {
    font-size: 18px;
    width: 320px;
    text-align: initial;
}

.segment-list_img {
    position: absolute;
    left: 10px;
    top: -9px;
    width: 57px;
    height: 109px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    display: flex;
}

.segment-list_img img {
    width: 40px;
}

footer {
    width: 100%;
    background-color: #1A1A1A;
    height: 150px;
    padding: 0 10rem;
    margin-top: 7rem;
}

.footer {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    width: 100%;
}

.footer span {
    font-size: 14px;
}

@media (max-width: 600px) {

    header .container {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0;
    }
    
    .logo {
        margin: 2rem auto;
    }
    
    .nav {
        width: 100%;
        margin-right: 0;
        margin-bottom: 3rem;
        padding: 0 .25rem;
    }

    .button {
        width: 235px;
        font-size: 18px;
    }

    .img-banner {
        display: none;
    }

    .banner-text {
        text-align: center;
        align-items: center;
    }

    .banner-text h2, .address .container h2, .services .container h2, .segment .container h2 {
        font-size: 20px;
    }

    .banner-text p, .address .container p, .services .container p, .segment .container p {
        font-size: 18px;
    }

    .services-list {
        grid-template-columns: 1fr;
        justify-content: center;
    }


    .services-elipse {
        display: none;
    }

    .services .container p {
        width: 80vw;
    }

    #elipse {
        overflow: hidden;
    }
    
    #address-box {
        width: 300px;
        height: auto;
    }

    .mapouter {
        height: auto;
        width: 300px;
    }

    .gmap_canvas, #gmap_canvas{
        width: 300px !important;
        height: 100%;
    }

    #vetor {
        width: 40vw;
    }

    .segment .container p {
        width: 80vw;
    }

    .segment-list {
        grid-template-columns: 1fr;
        align-items: center;
    }

    .segment-list_item {
        width: 80vw;
        margin: 0 auto;
    }

    .segment-list_img {
        display: none;
    }

    .container .segment-list_item p{
        width: 80vw;
    }

    footer {
        padding: 0;
    }

    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer span {
        margin-top: 1rem;
    }
}

@media (min-width: 601px) and (max-width:1400px) {

    header .container {
        margin: 0;
        width: 100%;
        justify-content: space-around;
    }

    .logo {
        margin: 0;
    }

    .container h2 {
        font-size: 30px;
    }

    .container p {
        font-size: 18px;
    }

    .button {
        font-size: 18px;
        width: 230px;
    }

    #address-box {
        width: 600px;
        height: auto;
    }

    .mapouter {
        height: auto;
        width: 600px;
    }

    .gmap_canvas, #gmap_canvas{
        width: 600px !important;
        height: 100%;
    }

    .services-list, .segment-list {
        grid-template-columns: 1fr 1fr;
    }

    .services-list {
        gap: 0.5rem;
    }

    .service-item {
        width: 290px;
    }

    .segment-list {
        column-gap: 0;
        width: 90vw;
    }

    .segment-list_item {
        width: 100%;
    }

    .segment-list_img {
        width: 50px;
        height: 70px;
    }

    .segment-list_img img {
        width: 30px;
    }

    footer {
        padding: 0 3rem;
    }

}

@media (min-width: 1000px) {
    .segment-list {
        column-gap: 50px;
    }

    .container .segment-list p {
        width: auto;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .service-item {
        width: 350px;
    }
}

@media (min-width: 1401px) {
    .services-list {
        column-gap: 20px;
    }
}

@media (max-width: 1919px){
    .services-elipse {
        display: none;
    }
}

